@import 'tailwindcss';

@theme {
  --font-inter: var(--font-inter);

  --color-primary: #19314e;
  --color-background: #f3f4f6;

  --animate-float: float 6s ease-in-out infinite;
  --animate-fade-in: fade-in 0.25s ease-in;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px) rotate(0deg);
    }
    25% {
      transform: translateY(-10px) rotate(1deg);
    }
    50% {
      transform: translateY(-20px) rotate(0deg);
    }
    75% {
      transform: translateY(-10px) rotate(-1deg);
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@utility button {
  @apply bg-primary focus:ring-primary focus:outline-primary w-full cursor-pointer rounded-2xl px-4 py-2 font-medium text-white! transition-transform duration-500 select-none hover:scale-95 focus:outline-2 focus:outline-offset-2 disabled:cursor-not-allowed disabled:opacity-75;
}

@utility input {
  @apply focus:ring-primary w-full rounded-2xl border border-gray-200 bg-white px-4 py-2 placeholder:text-gray-600 focus:ring-2 focus:outline-0;
}
